{% extends "hello/layout.html" %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
<h1 class="base-h1"><b>Contact page for the Visual Studio Code Django tutorial.</b></h1>
<ul>
    <li><strong>School Email:</strong> <a href="mailto:aoy@njit.edu">aoy@njit.edu</a></li>
    <li><strong>Work Email:</strong> <a href="mailto:anthonyyagoda3204@gmail.com">anthonyyagoda3204@gmail.com</a></li>
    <li><strong>Phone:</strong> <a href="tel:9733068220">973-306-8220</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/anthony-yagoda-0a24a5174/" target="_blank">View Profile</a></li>
</ul>
{% endblock %}