<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8"/>
	    <title>{% block title %}{% endblock %}</title>
	    {% load static %}
	    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
	</head>
	
	<body>
        <div class="navbar">
            <a href="{% url 'home' %}" class="navbar-brand {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
            <a href="{% url 'DrinkList' %}" class="navbar-item {% if request.resolver_match.url_name == 'DrinkList' %}active{% endif %}">Drink List</a>
            <a href="{% url 'DrinkInformation' %}" class="navbar-item {% if request.resolver_match.url_name == 'DrinkInformation' %}active{% endif %}">Drink Information</a>
            <a href="{% url 'Feedback' 1 %}" class="navbar-item {% if request.resolver_match.url_name == 'Feedback' %}active{% endif %}">Feedback</a>
            {% if user.is_authenticated and user.is_superuser %}
                <a href="{% url 'admin_feedback' %}">Admin Panel</a>
            {% endif %}
        </div>
        
        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>&copy; 2026</p>
            </footer>
        </div>
	</body>
</html>
